@mixin flex($fd,$js,$ai,$gp){
  display: flex;
  flex-direction: $fd;
  justify-content: $js;
  align-items: $ai;
  gap: $gp;
}
@mixin montserrat($fs,$fw,$lh){
  font-family: 'Montserrat', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
